/*** General ***/
@import url(mojoflex.css);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-size: 14px;
	line-height: 1.2;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 70px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 40px;
}

h2 {
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 14px;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 14px;
}

h4 {}
h5 {}
h6 {}

p, 
address {
	margin-bottom: 14px;
}


strong {}


/*** Colors ***/

/* Font Color */
h4,
h5,
h6,
p, 
address, 
cite,
a,
a:hover {
	color: #878786;
}

h1 {
	color: #fccf8e;
}

.footer a:hover,
.postDetails,
h2 {
	color: #95c11e !important;
}

h3,
button,
.buttonSmall,
.whiteFont,
input[type="submit"],
input[type="button"],
.buttonBig,
.footer a,
.box p,
.off-canvas-left .current-menu-item a, 
.off-canvas-left .current-menu-ancestor a,
.off-canvas-right .current-menu-item a,
.off-canvas-right .current-menu-ancestor a {
	color: #ffffff;
}


/* Background Color */
.green,
.buttonSmall,
main button, 
main input[type="submit"],
main input[type="button"],
.off-canvas-left .current-menu-item, 
.off-canvas-left .current-menu-ancestor,
.off-canvas-right .current-menu-item,
.off-canvas-right .current-menu-ancestor {
	background-color: #95c11e;
}

.orange {
	background-color: #fccf8e;
}


/*** Layout ***/
.box {
	position: relative;

	padding: 15px;
	width: 100%;
	margin-bottom: 20px;

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.buttonBig {
	font-size: 30px;
}

input {
	margin-bottom: 10px;
}

input[type="submit"] {
	margin: 0;
}

/* Header */
.header {
	margin-bottom: 40px;
}

.logo {
	width: 100%;
	max-width: 500px;
	margin-top: 50px;
}

.boxTop {
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;

	height: auto;
	min-height: 130px;
}

.welcomeMessage {
	margin-top: 10px;
	margin-bottom: 45px;
}

.validateMessage {
	color: #e01e1e;
	display: block;
	margin-bottom: 10px;
}


/* Main */
.main {
	margin-bottom: 80px;
}

.postImage {
	width: 100%;
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.postDetails {
	font-size: 10px;
}

.postDetailsWrapper {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
}

.ratingImage {
	width: 15px;
	height: auto;
}

.ratingElement {
	display: block;
	float: left;
	margin-right: 5px;
}

.message {
	padding-bottom: 30px;
}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}

.footer a {
	margin-right: 20px;
}

/*** Mobil ***/
@media (max-width: 1200px) {

	/*** General ***/


	/*** Layout ***/

	/* Header */


	/* Main */


	/* Footer */

}

@media (max-width: 992px) {

	/*** General ***/


	/*** Layout ***/

	/* Header */


	/* Main */
	.message {
		padding-bottom: 60px;
	}


	/* Footer */

}

@media (max-width: 768px) {

	/*** General ***/
	h1 {
		font-size: 32px;
	}

	h2,
	.buttonBig {
		font-size: 24px;
	}

	.buttonSmall {
		margin-bottom: 10px;
	}


	/*** Layout ***/

	/* Header */
	.boxTop {
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		margin-top: 20px;

		height: auto;
	}


	/* Main */
	.postDetailsWrapper {
		position: static;
		margin-left: -15px;
		margin-right: -15px;
	}

	.message {
		padding-bottom: 20px;
	}



	/* Footer */

}